wireguard.python3.tech:80 {
    root /usr/src/trojan
    log /usr/src/caddy.log
    index index.html
}

wireguard.python3.tech:443 {
    root /usr/src/trojan
    log /usr/src/caddy.log
    index index.html
}
